@page
@model EasyBeautyASP.Pages.ProductPageModel
@{
	ViewData["Title"] = "Products";
    Layout = "_Layout";
}

<div class="col-md-6 card-style my-2" style="margin: 0px auto;">
        <div class="row">
          <div class="col-md-6">
            <div style="overflow: hidden;" class="card">
              <img src="../assets/media/images/@Model.Products.ProductImage" alt="image" width="100%"
                class="proImg card-image product-hover rounded-2">
            </div>           
          </div>
          <div class="col-md-6 content">
            <!-- Reference: https://olay.co.uk/skin-care-products/face-cleanser/anti-wrinkle-face-wash-cleanser -->
            <h5>@Model.Products.ProductName</h5>
            <h2>@Model.Products.ProductFirstDescription</h2>
            <p class="pt-3 card-text">@Model.Products.ProductSecondDescription</p>
            <h4>$@Model.Products.ProductPrice</h4>
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <form method="post" asp-page-handler="AddToCart">
                    <input type="hidden" name="userId" value="@User.Identity.Name" />
                    <input type="hidden" name="productId" value="@Model.Products.ProductId" /> 
                    <input type="number" class="mt-3 form-control quantity-input" name="quantity" value="1" />
                    <button type="submit" class="mt-3 btn btn-primary add-to-cart-button">Add to Cart</button>
                </form>
            }
            else
            {
                <div>
                    <input type="number" class="mt-3 form-control quantity-input" value="1" disabled />
                    <button type="button" class="mt-3 btn btn-primary add-to-cart-button"
                            onclick="alert('Пожалуйста, авторизуйтесь, чтобы добавить товар в корзину.')">
                        Add to Cart
                    </button>
                </div>
            }

          </div>
        </div>
      </div>